{% trans_default_domain "EasyAdminBundle" %}
{% if paginator.haveToPaginate %}
    <div class="list-pagination">
        <div class="row">
            <div class="col-sm-2 hidden-xs" class="list-pagination-counter">
                {{ 'paginator.counter' | trans({"%start%": paginator.currentPageOffsetStart, "%end%": paginator.currentPageOffsetEnd, "%results%": paginator.nbResults}) | raw }}
            </div>

            <div class="col-xs-12 col-sm-10">
                <ul class="pagination list-pagination-paginator">
                    {% if 1 == paginator.currentPage %}
                        <li class="disabled">
                            <span>
                                <i class="fa fa-angle-double-left"></i> {{ 'paginator.first' | trans }}
                            </span>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('admin', request_attributes|merge({ page: 1 }) ) }}">
                                <i class="fa fa-angle-double-left"></i> {{ 'paginator.first' | trans }}
                            </a>
                        </li>
                    {% endif %}

                    {% if paginator.hasPreviousPage %}
                        <li>
                            <a href="{{ path('admin', request_attributes|merge({ page: paginator.previousPage }) ) }}">
                                <i class="fa fa-angle-left"></i> {{ 'paginator.previous' | trans }}
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled">
                            <span>
                                <i class="fa fa-angle-left"></i> {{ 'paginator.previous' | trans }}
                            </span>
                        </li>
                    {% endif %}

                    {% if paginator.hasNextPage %}
                        <li>
                            <a href="{{ path('admin', request_attributes|merge({ page: paginator.nextPage }) ) }}">
                                {{ 'paginator.next' | trans }} <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled">
                            <span>
                                {{ 'paginator.next' | trans }} <i class="fa fa-angle-right"></i>
                            </span>
                        </li>
                    {% endif %}

                    {% if paginator.currentPage < paginator.nbPages %}
                        <li>
                            <a href="{{ path('admin', request_attributes|merge({ page: paginator.nbPages }) ) }}">
                                {{ 'paginator.last' | trans }} <i class="fa fa-angle-double-right"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled">
                            <span>
                                {{ 'paginator.last' | trans }} <i class="fa fa-angle-double-right"></i>
                            </span>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}
