{% extends '@EasyAdmin/layout.html.twig' %}

{% set _entity = easyadmin_entity(app.request.query.get('entity')) %}

{% trans_default_domain "EasyAdminBundle" %}
{% set _trans_parameters = { '%entity_name%': _entity.label|trans, '%entity_id%': attribute(item, _entity.primary_key_field_name) } %}

{% form_theme form '@EasyAdmin/form/bootstrap_3_horizontal_layout.html.twig' %}

{% block body_class 'admin edit ' ~ _entity.name|lower %}

{% block content_title %}
    {{ _entity.edit.title|default('edit.page_title')|trans(_trans_parameters) }}
{% endblock %}

{% block main %}
    {{ form_start(form, { attr: { id: 'edit-form', novalidate: 'novalidate' } }) }}
        <div id="form">
            {% for field in form.children if field.vars.name != '_token' %}
                {% set _field_configuration = entity_fields[field.vars.name] %}
                {% set _field_type = _field_configuration['fieldType'] %}
                <div class="form-group field_{{ _field_type|lower|default('default') }} {% if not field.vars.valid %}has-error{% endif %}">
                    {% if _field_type == 'association' %}
                        {{ easyadmin_render_field_for_edit_view(item, _field_configuration) }}
                    {% else %}
                        {% set field_label = _field_configuration['label']|default(null) %}
                        {{ form_label(field, field_label|trans(_trans_parameters), { label_attr: { class: 'col-sm-2 control-label' } }) }}

                        <div class="col-sm-10 {% if _field_type == 'checkbox' %}col-sm-offset-2{% endif %}">
                            {% set widget_attributes = { attr: { class: _field_configuration['class']|default(null) }, label: _field_configuration['label']|trans } %}
                            {{ form_widget(field, widget_attributes) }}
                            {% if _field_type in ['datetime', 'datetimetz', 'date', 'time'] and _field_configuration['nullable'] %}
                                <div class="null-control">
                                    <label>
                                        <input type="checkbox" {% if field.vars.data is null %}checked="checked" {% endif %}>
                                        Null
                                    </label>
                                </div>
                            {% endif %}
                            {{ form_errors(field) }}

                            {% if _field_configuration['help'] is defined %}
                                <span class="help-block">{{ _field_configuration['help'] }}</span>
                            {% endif %}

                            {% if _field_type == 'collection' %}
                                {% set add_item_javascript %}
                                    $(function() {
                                        if(event.preventDefault) event.preventDefault(); else event.returnValue = false;

                                        var collection = $('#form_{{ field.vars.name|escape('js') }}');
                                        var numItems = collection.children('div.form-group').length;

                                        var newItem = collection.attr('data-prototype')
                                            .replace(/__name__label__/g, numItems)
                                            .replace(/__name__/g, numItems)
                                        ;

                                        collection.append(newItem);
                                    });
                                {% endset %}
                                <a href="#" onclick="{{ add_item_javascript|raw }}" class="{{ field|length > 0 ? 'pull-right' : '' }}">
                                    <i class="fa fa-plus-square"></i>
                                    {{ field|length == 0 ? 'Add a new item' : 'Add another item' }}
                                </a>

                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}

            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    {# the 'save' action is hardcoded for the 'edit' view #}
                    <button type="submit" class="btn">
                        <i class="fa fa-save"></i> {{ 'action.save'|trans(_trans_parameters) }}
                    </button>

                    {% set _edit_actions = easyadmin_get_actions_for_edit_item(_entity.name) %}
                    {% for _action in _edit_actions %}
                        {% if 'method' == _action.type %}
                            {% set _action_href = path('admin', { action: _action.name, view: 'edit', entity: _entity.name, id: attribute(item, _entity.primary_key_field_name) }) %}
                        {% elseif 'route' == _action.type %}
                            {% set _action_href = path(_action.name, { entity: _entity.name, id: attribute(item, _entity.primary_key_field_name) }) %}
                        {% endif %}

                        <a class="btn {{ _action.class|default('') }}" href="{{ _action_href }}">
                            {% if _action.icon %}<i class="fa fa-{{ _action.icon }}"></i>{% endif %}
                            {{ _action.label|trans(_trans_parameters) }}
                        </a>
                    {% endfor %}

                    {% if easyadmin_action_is_enabled_for_edit_view('delete', _entity.name) %}
                        {% set _action = easyadmin_get_action_for_edit_view('delete', _entity.name) %}
                        <button type="button" id="button-delete" class="btn {{ _action.class|default('btn-danger') }}">
                            {% if _action.icon %}<i class="fa fa-{{ _action.icon }}"></i>{% endif %}
                            {{ _action.label|default('action.delete')|trans(_trans_parameters) }}
                        </button>
                    {% endif %}

                    {# for aesthetic reasons, the 'list' action is always displayed as a link instead of a button #}
                    {% if easyadmin_action_is_enabled_for_edit_view('list', _entity.name) %}
                        {% set _action = easyadmin_get_action_for_edit_view('list', _entity.name) %}
                        <a class="btn btn-secondary" href="{{ path('admin', ({ entity: _entity.name, action: _action.name, view: 'edit' }) ) }}">{% spaceless %}
                            {% if _action.icon %}<i class="fa fa-{{ _action.icon }}"></i>{% endif %}
                            {{ _action.label|default('action.list')|trans(_trans_parameters) }}
                        {% endspaceless %}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {{ form_end(form) }}

    {{ form(delete_form, { attr: { id: 'delete-form', style: 'display: none' }}) }}


    <div id="modal-delete" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h4>{{ 'delete_modal.title'|trans(_trans_parameters) }}</h4>
                    <p>{{ 'delete_modal.content'|trans(_trans_parameters) }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn">
                        {{ 'action.cancel'|trans(_trans_parameters) }}
                    </button>

                    {% if easyadmin_action_is_enabled_for_edit_view('delete', _entity.name) %}
                        {% set _action = easyadmin_get_action_for_edit_view('delete', _entity.name) %}
                        <button type="button" data-dismiss="modal" class="btn btn-danger" id="modal-delete-button">
                            {% if _action.icon %}<i class="fa fa-{{ _action.icon }}"></i>{% endif %}
                            {{ _action.label|default('action.delete')|trans(_trans_parameters) }}
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script src="{{ asset('bundles/easyadmin/javascript/jquery.are-you-sure.min.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            $('#edit-form').areYouSure({ 'message': 'You haven\'t saved the changes made on this form.' });

            $('#button-delete').on('click', function(e) {
                e.preventDefault();

                $('#modal-delete').modal({ backdrop: true, keyboard: true })
                    .one('click', '#modal-delete-button', function (e) {
                        $('#delete-form').trigger('submit');
                    });
            });

            enhanceNullableDatetimeFields();
        });
    </script>
{% endblock %}
