{% extends '@EasyAdmin/layout.html.twig' %}

{% trans_default_domain "EasyAdminBundle" %}
{% block body_class 'admin list ' ~ entity.name|lower %}

{% block head_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/easyadmin/stylesheet/bootstrap-toggle.min.css') }}">
{% endblock %}

{% block content_title %}
    {% if 'search' == app.request.get('action') %}
        {{ 'search.page_title'|transchoice(paginator.nbResults)|raw }}
    {% else %}
        {{ entity.list.title|default('list.page_title')|trans({'%entity_name%': entity.label|trans}) }}
    {% endif %}
{% endblock %}

{% block content %}
{% if 'search' == app.request.get('action') %}
    {% set request_attributes = { action: 'search', entity: entity.name, query: app.request.get('query')|default('') } %}
{% else %}
    {% set request_attributes = { action: 'list', entity: entity.name, sortDirection: app.request.get('sortDirection', 'DESC') } %}
{% endif %}

<div class="row">
    <div id="content-header" class="col-sm-12">
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                <h1 class="title">{{ block('content_title') }}</h1>
            </div>
            <div class="col-xs-12 col-sm-7">
                {% if easyadmin_action_is_enabled('new', entity.name) %}
                    <div id="content-actions">
                            <a class="btn" href="{{ path('admin', { entity: entity.name, action: 'new' }) }}">
                                {{ entity.new.action_label|default('action.new')|trans({'%entity_name%': entity.label|trans}) }}
                            </a>
                    </div>
                {% endif %}

                {% if easyadmin_action_is_enabled('search', entity.name) %}
                    <form id="content-search" class="col-xs-6 col-sm-8" method="get" action="{{ path('admin') }}">
                        <div class="input-group">
                            <input type="hidden" name="action" value="search">
                            <input type="hidden" name="entity" value="{{ entity.name }}">
                            <input class="form-control" id="content-search-query" type="search" name="query" placeholder="{{ 'list.search_placeholder'|trans }}" value="{{ app.request.get('query')|default('') }}">
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

    <div id="main" class="col-sm-12">
        <div>
            {% set _list_item_actions = easyadmin_list_item_actions(entity.name) %}

            <table class="table">
                <thead>
                    <tr>
                        {% for field, metadata in fields %}
                            {% set isSortingField = metadata.property == app.request.get('sortField') %}

                            <th data-property-name="{{ metadata.property }}" class="{{ isSortingField ? 'sorted' : '' }} {{ metadata.virtual|default(false) ? 'virtual' : '' }} {{ metadata.dataType|lower }}">
                                {% if isSortingField %}
                                    {% set sortDirection = ('DESC' == app.request.get('sortDirection')) ? 'ASC' : 'DESC' %}
                                    {% set request_attributes = request_attributes|merge({ sortField: metadata.property }) %}
                                {% endif %}

                                {% if metadata.sortable %}
                                    <a href="{{ path('admin', request_attributes|merge({ sortField: metadata.property, sortDirection: sortDirection|default('DESC') })) }}">
                                        {% if isSortingField and sortDirection == 'DESC' %}
                                            <i class="fa fa-caret-up"></i>
                                        {% elseif isSortingField and sortDirection == 'ASC' %}
                                            <i class="fa fa-caret-down"></i>
                                        {% else %}
                                            <i class="fa fa-sort"></i>
                                        {% endif %}

                                        {% if metadata.label %}
                                            {{ metadata.label|trans }}
                                        {% elseif 'id' == metadata.property %}
                                            ID
                                        {% else %}
                                            {{ field|humanize }}
                                        {% endif %}
                                    </a>
                                {% else %}
                                    {% if metadata.label %}
                                        <span>{{ metadata.label|trans }}</span>
                                    {% else %}
                                        <span>{{ field|humanize }}</span>
                                    {% endif %}
                                {% endif %}
                            </th>
                        {% endfor %}
                        {% if _list_item_actions|length > 0 %}
                            <th>
                                <span>{{ 'list.row_actions'|trans }}</span>
                            </th>
                        {% endif %}
                    </tr>
                </thead>

                <tbody>
                    {% for item in paginator.currentPageResults %}
                        <tr data-id="{{ attribute(item, entity.primary_key_field_name) }}">
                            {% for field, metadata in fields %}
                                {% set isSortingField = metadata.property == app.request.get('sortField') %}

                                <td class="{{ isSortingField ? 'sorted' : '' }} {{ metadata.dataType|lower }}">
                                    {% if metadata.type in ['array', 'json_array', 'simple_array', 'text'] %}
                                        {{ easyadmin_render_field(item, metadata)|easyadmin_truncate }}
                                    {% else %}
                                        {{ easyadmin_render_field(item, metadata) }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                            {% if _list_item_actions|length > 0 %}
                                <td class="actions">
                                    {% for action in _list_item_actions %}
                                        {% if 'method' == action.type %}
                                            <a href="{{ path('admin', { action: action.method, entity: entity.name, id: attribute(item, entity.primary_key_field_name) }) }}">
                                                {{- action.label|trans -}}
                                            </a>
                                        {% elseif 'route' == action.type %}
                                            <a href="{{ path(action.route, { entity: entity.name, id: attribute(item, entity.primary_key_field_name) }) }}">
                                                {{- action.label|trans -}}
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            {% endif %}
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="{{ _list_item_actions|length > 0 ? fields|length + 1 : fields|length }}">
                                {{ 'search.no_results'|trans }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {{ include('@EasyAdmin/_list_paginator.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script src="{{ asset('bundles/easyadmin/javascript/bootstrap-toggle.min.js') }}"></script>

    <script type="text/javascript">
        $(function() {
            $('#main table .toggle input[type="checkbox"]').change(function() {
                var toggle = $(this);
                var newValue = toggle.prop('checked');
                var oldValue = !newValue;

                var columnIndex = $(this).closest('td').index() + 1;
                var propertyName = $('table th.toggle:nth-child(' + columnIndex + ')').data('property-name');

                var toggleUrl = "{{ path('admin', { action: 'edit', entity: entity.name })|raw }}"
                              + "&id=" + $(this).closest('tr').data('id')
                              + "&property=" + propertyName
                              + "&newValue=" + newValue.toString();

                var toggleRequest = $.ajax({ type: "GET", url: toggleUrl, data: {} });

                toggleRequest.done(function(result) {});

                toggleRequest.fail(function(result) {
                    // in case of error, restore the original value and disable the toggle
                    toggle.bootstrapToggle(oldValue == true ? 'on' : 'off');
                    toggle.bootstrapToggle('disable');
                });
            });
        });
    </script>
{% endblock %}
