{% extends '@EasyAdmin/layout.html.twig' %}

{% form_theme form '@EasyAdmin/form/bootstrap_3_horizontal_layout.html.twig' %}

{% block body_class 'admin new ' ~ entity.name|lower %}

{% block content_title %}
    Create {{ entity.name }}
{% endblock %}

{% block main %}
    {{ form_start(form, { attr: { id: 'new-form', novalidate: 'novalidate' } }) }}
        {{ form_widget(form) }}

        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <button type="submit" class="btn">
                    <i class="fa fa-save"></i> Save changes
                </button>

                <a class="btn btn-list btn-secondary" href="{{ path('admin', ({ entity: entity.name, action: 'list' }) ) }}">
                    Back to Listing
                </a>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block body_javascript %}
    <script src="{{ asset('bundles/easyadmin/javascript/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/easyadmin/javascript/jquery.are-you-sure.min.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            $('#new-form').areYouSure({ 'message': 'You haven\'t saved the changes made on this form.' });
        });
    </script>
{% endblock %}
