{% extends '@EasyAdmin/layout.html.twig' %}

{% trans_default_domain "EasyAdminBundle" %}
{% block body_class 'admin show ' ~ entity.name|lower %}

{% block content_title %}
    {{ entity.name ~ ' #' ~ item.id }}
{% endblock %}

{% block main %}
    <div class="form-horizontal">
        {% for field, metadata in fields %}
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    {% if metadata.label %}
                        {{ metadata.label }}
                    {% elseif 'id' == metadata.property %}
                        ID
                    {% else %}
                        {{ field|humanize }}
                    {% endif %}
                </label>
                <div class="col-sm-10">
                    <div class="form-control {{ metadata.type|lower }}">
                        {{ entity_field(item, field, metadata) }}
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="form-group form-actions">
            <div class="col-sm-10 col-sm-offset-2">
                <a class="btn btn-edit" href="{{ path('admin', { action: 'edit', entity: entity.name, id: attribute(item, 'id') }) }}">
                    <i class="fa fa-edit"></i> {{ 'entity.edit' | trans({"%entity%": entity.name}) }}
                </a>

                <button type="button" onclick="document.getElementById('delete-form').submit()" class="btn btn-danger">
                    <i class="fa fa-trash"></i> {{ 'entity.delete' | trans() }}
                </button>

                <a class="btn btn-list btn-secondary" href="{{ path('admin', ({ entity: entity.name, action: 'list' }) ) }}">
                    {{ 'link.back_to_listing' | trans }}
                </a>
            </div>
        </div>
    </div>

    {{ form(delete_form, { attr: { id: 'delete-form', style: 'display: none' }}) }}
{% endblock %}
