{% extends '@EasyAdmin/layout.html.twig' %}

{% trans_default_domain "EasyAdminBundle" %}
{% block body_class 'admin show ' ~ entity.name|lower %}

{% block body_javascript %}
    {{ parent() }}

    <script type="text/javascript">
        $(function() {
            $('#button-delete').on('click', function(e) {
                e.preventDefault();

                $('#modal-delete').modal({ backdrop: true, keyboard: true })
                    .one('click', '#modal-delete-button', function (e) {
                        $('#delete-form').trigger('submit');
                    });
            });
        });
    </script>
{% endblock %}

{% block content_title %}
    {{ entity.label ~ ' #' ~ attribute(item, entity.primary_key_field_name) }}
{% endblock %}

{% block main %}
    <div class="form-horizontal">
        {% for field, metadata in fields %}
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    {% if metadata.label %}
                        {{ metadata.label }}
                    {% elseif 'id' == metadata.property %}
                        ID
                    {% else %}
                        {{ field|humanize }}
                    {% endif %}
                </label>
                <div class="col-sm-10">
                    <div class="form-control {{ metadata.type|lower }}">
                        {% if metadata.type in ['text'] %}
                            {{ entity_field(item, field, metadata)|nl2br }}
                        {% else %}
                            {{ entity_field(item, field, metadata) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="form-group form-actions">
            <div class="col-sm-10 col-sm-offset-2">
                <a class="btn btn-edit" href="{{ path('admin', { action: 'edit', entity: entity.name, id: attribute(item, entity.primary_key_field_name) }) }}">
                    <i class="fa fa-edit"></i> {{ 'entity.edit' | trans({"%entity%": entity.name}) }}
                </a>

                <button type="button" id="button-delete" class="btn btn-danger">
                    <i class="fa fa-trash"></i> {{ 'entity.delete' | trans() }}
                </button>

                <a class="btn btn-list btn-secondary" href="{{ path('admin', ({ entity: entity.name, action: 'list' }) ) }}">
                    {{ 'link.back_to_listing' | trans }}
                </a>
            </div>
        </div>
    </div>

    {{ form(delete_form, { attr: { id: 'delete-form', style: 'display: none' }}) }}

    <div id="modal-delete" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h4>{{ 'delete_modal.title' | trans }}</h4>
                    <p>{{ 'delete_modal.content' | trans }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn">
                        {{ 'actions.cancel' | trans }}
                    </button>
                    <button type="button" data-dismiss="modal" class="btn btn-danger" id="modal-delete-button">
                        <i class="fa fa-trash"></i> {{ 'entity.delete' | trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
