{% if value is iterable %}
    {% if 'show' == view %}
        <ul>
            {% for element in value %}
                <li><a href="{{ path('easyadmin', link_parameters|merge({ id: attribute(element, link_parameters.primary_key_name) })) }}">{{ element }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <span class="badge">{{ value|length }}</span>
    {% endif %}
{% elseif link_parameters is defined %}
    <a href="{{ path('easyadmin', link_parameters|merge({ referer: app.request.requestUri })) }}">{{ value|easyadmin_truncate }}</a>
{% else %}
    {{ value|easyadmin_truncate }}
{% endif %}
