{{ form_start(form, { attr: form.vars.attr|merge({ novalidate: 'novalidate' }) }) }}
    {% if form.vars.errors|length > 0 %}
        {{ form_errors(form) }}
    {% endif %}

    <div class="row">
        <input type="hidden" name="referer" value="{{ app.request.query.get('referer', '') }}" />

        {% for field in form.children if 'hidden' not in field.vars.block_prefixes %}
            {% set _field_metadata = entity_fields[field.vars.name] %}
            <div class="{{ _field_metadata.css_class|default('col-xs-12') }}">
                {% if _field_metadata['fieldType'] == 'association' %}
                    {{ easyadmin_render_field_for_edit_view(entity, _field_metadata) }}
                {% else %}
                    {% set _field_label = _field_metadata['label']|default(null) %}
                    {{ form_row(field, { label: _field_label|trans(_trans_parameters) }) }}
                {% endif %}

                {% if _field_metadata['fieldType'] == 'collection' %}
                    {% set add_item_javascript %}
                        $(function() {
                            if(event.preventDefault) event.preventDefault(); else event.returnValue = false;

                            var collection = $('#{{ form.vars.name }}_{{ field.vars.name|escape('js') }}');
                            var numItems = collection.children('div.form-group').length;

                            var newItem = collection.attr('data-prototype')
                                .replace(/__name__label__/g, numItems)
                                .replace(/__name__/g, numItems)
                            ;

                            collection.append(newItem);
                        });
                    {% endset %}

                    <div class="form-group field-collection-action">
                        <a href="#" onclick="{{ add_item_javascript|raw }}" class="col-sm-12 text-right">
                            <i class="fa fa-plus-square"></i>
                            {{ (field|length == 0 ? 'action.add_new_item' : 'action.add_another_item')|trans(_trans_parameters, 'EasyAdminBundle') }}
                        </a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        <div class="form-group">
            <div id="form-actions-row">
            {% block item_actions %}
                {# the 'save' action is hardcoded for the 'edit' and 'new' views #}
                <button type="submit" class="btn">
                    <i class="fa fa-save"></i> {{ 'action.save'|trans(_trans_parameters) }}
                </button>

                {% set _entity_actions = (view == 'new')
                    ? easyadmin_get_actions_for_new_item(_entity_config.name)
                    : easyadmin_get_actions_for_edit_item(_entity_config.name) %}

                {% for _action in _entity_actions %}
                    {% if 'method' == _action.type %}
                        {% set _action_href = path('admin', { action: _action.name, view: view, entity: _entity_config.name, id: attribute(entity, _entity_config.primary_key_field_name) }) %}
                    {% elseif 'route' == _action.type %}
                        {% set _action_href = path(_action.name, { entity: _entity_config.name, id: attribute(entity, _entity_config.primary_key_field_name) }) %}
                    {% endif %}

                    <a class="btn {{ _action.css_class|default('') }}" href="{{ _action_href }}">
                        {% if _action.icon %}<i class="fa fa-{{ _action.icon }}"></i>{% endif %}
                        {{ _action.label|trans(_trans_parameters) }}
                    </a>
                {% endfor %}

                {% if view == 'edit' %}
                    {% if easyadmin_action_is_enabled_for_edit_view('delete', _entity_config.name) %}
                        {% set _action = easyadmin_get_action_for_edit_view('delete', _entity_config.name) %}
                        <button type="button" id="button-delete" class="btn {{ _action.css_class|default('btn-danger') }}">
                            {% if _action.icon %}<i class="fa fa-{{ _action.icon }}"></i>{% endif %}
                            {{ _action.label|default('action.delete')|trans(_trans_parameters) }}
                        </button>
                    {% endif %}
                {% endif %}

                {# for aesthetic reasons, the 'list' action is always displayed as a link instead of a button #}
                {% if view == 'new' and easyadmin_action_is_enabled_for_new_view('list', _entity_config.name) %}
                    {% set _list_action = easyadmin_get_action_for_new_view('list', _entity_config.name) %}
                {% elseif view == 'edit' and easyadmin_action_is_enabled_for_edit_view('list', _entity_config.name) %}
                    {% set _list_action = easyadmin_get_action_for_edit_view('list', _entity_config.name) %}
                {% endif %}

                {% if _list_action is defined %}
                    <a class="btn btn-secondary" href="{{ app.request.query.has('referer') ? app.request.query.get('referer')|easyadmin_urldecode : path('admin', ({ entity: _entity_config.name, action: _list_action.name, view: view }) ) }}">{% spaceless %}
                        {% if _list_action.icon %}<i class="fa fa-{{ _list_action.icon }}"></i>{% endif %}
                        {{ _list_action.label|default('action.list')|trans(_trans_parameters) }}
                    {% endspaceless %}</a>
                {% endif %}
            {% endblock item_actions %}
            </div>
        </div>
    </div>
{{ form_end(form) }}
