{% macro render_menu_item(item) %}
    {% if item.type == 'entity' %}
        <a href="{{ path('easyadmin', { entity: item.entity, action: 'list' }|merge(item.params)) }}">
            {% if item.icon %}<i class="fa {{ item.icon }}"></i>{% endif %}
            {{- item.label|trans -}}
        </a>
    {% elseif item.type == 'link' %}
        {% if item.icon %}<i class="fa {{ item.icon }}"></i>{% endif %}
        <a href="{{ item.url }}">
            {{- item.label|trans -}}
        </a>
    {% elseif item.type == 'route' %}
        {% if item.icon %}<i class="fa {{ item.icon }}"></i>{% endif %}
        <a href="{{ path(item.route, item.params) }}">
            {{- item.label|trans -}}
        </a>
    {% elseif item.type == 'empty' %}
        {% if item.icon %}<i class="fa {{ item.icon }}"></i>{% endif %}
        {{- item.label|trans -}}
    {% endif %}
{% endmacro %}

{% import _self as helper %}

<ul id="header-menu" class="nav navbar-nav">
    {% block navigation_items %}
        {% for item in easyadmin_config('design.menu') %}
            <li class="{{ item.entity|default('')|lower == app.request.get('entity')|lower ? 'active' }}">
                {{ helper.render_menu_item(item) }}

                {% if item.children is not empty %}
                    <ul class="dropdown-menu">
                        {% for subitem in item.children %}
                            {{ helper.render_menu_item(subitem) }}
                        {% endfor %}
                    </ul>
                {% endif %}

            </li>
        {% endfor %}
    {% endblock %}
</ul>
