{% trans_default_domain "EasyAdminBundle" %}

{% set _entity_config = easyadmin_entity(app.request.query.get('entity')) %}
{% set _trans_parameters = { '%entity_name%': _entity_config.name|trans, '%entity_label%': _entity_config.label|trans, '%entity_id%': attribute(entity, _entity_config.primary_key_field_name) } %}

{% extends _entity_config.templates.layout %}

{% block body_class 'admin show ' ~ _entity_config.name|lower %}

{% block content_title %}
    {{ _entity_config.show.title|default('show.page_title')|trans(_trans_parameters) }}
{% endblock %}

{% block main %}
    <div class="form-horizontal">
        {% for field, metadata in fields %}
            <div class="form-group field_{{ metadata.type|default('default')|lower }} {{ metadata.class|default('') }}">
                <label class="col-sm-2 control-label">
                    {% if metadata.label %}
                        {{ metadata.label|trans }}
                    {% else %}
                        {{ field|humanize }}
                    {% endif %}
                </label>
                <div class="col-sm-10">
                    <div class="form-control">
                        {{ easyadmin_render_field_for_show_view(_entity_config.name, entity, metadata) }}
                    </div>

                    {% if metadata.help|default('') != '' %}
                        <span class="help-block"><i class="fa fa-info-circle"></i> {{ metadata.help }}</span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        <div class="form-group form-actions">
            <div class="col-sm-10 col-sm-offset-2">
            {% block item_actions %}
                {% set _show_actions = easyadmin_get_actions_for_show_item(_entity_config.name) %}
                {% for _action in _show_actions %}
                    {% if 'method' == _action.type %}
                        {% set _action_href = path('admin', { action: _action.name, view: 'show', entity: _entity_config.name, id: attribute(entity, _entity_config.primary_key_field_name), referer: app.request.query.get('referer', '') }) %}
                    {% elseif 'route' == _action.type %}
                        {% set _action_href = path(_action.name, { entity: _entity_config.name, id: attribute(entity, _entity_config.primary_key_field_name), referer: app.request.query.get('referer', '') }) %}
                    {% endif %}

                    <a class="btn {{ _action.class|default('') }}" href="{{ _action_href }}">
                        {% if _action.icon %}<i class="fa fa-{{ _action.icon }}"></i>{% endif %}
                        {{ _action.label|trans(_trans_parameters) }}
                    </a>
                {% endfor %}

                {% if easyadmin_action_is_enabled_for_show_view('delete', _entity_config.name) %}
                    {% set _action = easyadmin_get_action_for_show_view('delete', _entity_config.name) %}
                    <button type="button" id="button-delete" class="btn {{ _action.class|default('btn-danger') }}">
                        {% if _action.icon %}<i class="fa fa-{{ _action.icon }}"></i>{% endif %}
                        {{ _action.label|default('action.delete')|trans(_trans_parameters) }}
                    </button>
                {% endif %}

                {# for aesthetic reasons, the 'list' action is always displayed as a link instead of a button #}
                {% if easyadmin_action_is_enabled_for_show_view('list', _entity_config.name) %}
                    {% set _action = easyadmin_get_action_for_show_view('list', _entity_config.name) %}
                    <a class="btn btn-list btn-secondary" href="{{ app.request.query.has('referer') ? app.request.query.get('referer') : path('admin', ({ entity: _entity_config.name, action: _action.name, view: 'show' })) }}">{% spaceless %}
                        {% if _action.icon %}<i class="fa fa-{{ _action.icon }}"></i>{% endif %}
                        {{ _action.label|default('action.list')|trans(_trans_parameters) }}
                    {% endspaceless %}</a>
                {% endif %}
            {% endblock item_actions %}
            </div>
        </div>
    </div>

    {% block delete_form %}
        {{
            form(delete_form, {
                action: delete_form.vars.action ~ '&referer=' ~ app.request.query.get('referer', ''),
                method: 'DELETE',
                attr: { id: 'delete-form', style: 'display: none' }
            })
        }}

        <div id="modal-delete" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <h4>{{ 'delete_modal.title'|trans(_trans_parameters) }}</h4>
                        <p>{{ 'delete_modal.content'|trans(_trans_parameters) }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn">
                            {{ 'action.cancel'|trans(_trans_parameters) }}
                        </button>

                        {% if easyadmin_action_is_enabled_for_show_view('delete', _entity_config.name) %}
                            {% set _action = easyadmin_get_action_for_show_view('delete', _entity_config.name) %}
                            <button type="button" data-dismiss="modal" class="btn btn-danger" id="modal-delete-button">
                                {% if _action.icon %}<i class="fa fa-{{ _action.icon }}"></i>{% endif %}
                                {{ _action.label|default('action.delete')|trans(_trans_parameters) }}
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock delete_form %}
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script type="text/javascript">
        $(function() {
            $('#button-delete').on('click', function(e) {
                e.preventDefault();

                $('#modal-delete').modal({ backdrop: true, keyboard: true })
                    .one('click', '#modal-delete-button', function (e) {
                        $('#delete-form').trigger('submit');
                    });
            });
        });
    </script>
{% endblock %}
