{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\ApplicationContext #}
{# @var property \EasyCorp\Bundle\EasyAdminBundle\Dto\PropertyDto #}
{% trans_default_domain 'EasyAdminBundle' %}

{% if ea.crud.action == 'detail' or not property.customOptions.get('renderAsSwitch') %}
    <span class="badge {{ property.value == true ? 'badge-boolean-true' : 'badge-boolean-false' }}">
        {{ (property.value == true ? 'label.true' : 'label.false')|trans }}
    </span>
{% else %}
    <div class="custom-control custom-switch custom-switch-lg" data-propertyname="{{ property.name }}">
        <input type="checkbox" class="custom-control-input" id="{{ property.uniqueId }}" {{ property.value == true ? 'checked' }}>
        <label class="custom-control-label" for="{{ property.uniqueId }}"></label>
    </div>
{% endif %}
