{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\ApplicationContext #}
{# @var property \EasyCorp\Bundle\EasyAdminBundle\Dto\PropertyDto #}

{# TODO: remove this condition when we centralize the handling of NULL values in CommonConfigurator #}
{% if property.value is null %}
    {{ include(ea.templatePath('label/null')) }}
{% else %}
    {% if property.customOptions.get('showCode') %}
        <span class="badge badge-currency" title="{{ property.formattedValue.name }}">{{ property.value }}</span>
    {% endif %}
    {% if property.customOptions.get('showSymbol') %}
        <span class="badge badge-currency" title="{{ property.formattedValue.name }}">{{ property.formattedValue.symbol }}</span>
    {% endif %}
    {% if property.customOptions.get('showName') %}
        {{ property.formattedValue.name }}
    {% endif %}
{% endif %}
