{% extends '@EasyAdmin/page/login_layout.html.twig' %}

{% block content %}
    {% set _username_label = username_label is defined ? username_label|trans : 'login_page.username'|trans({}, 'EasyAdminBundle') %}
    {% set _password_label = password_label is defined ? password_label|trans : 'login_page.password'|trans({}, 'EasyAdminBundle') %}
    {% set _sign_in_label = sign_in_label is defined ? sign_in_label|trans : 'login_page.sign_in'|trans({}, 'EasyAdminBundle') %}

    {% if error|default(false) %}
        <div class="w-100 alert alert-danger rounded mb-3">
            <i class="fas fa-times-circle mr-1"></i>
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <form method="post" action="{{ action|default('') }}">
        {% if csrf_token_intention|default(false) %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token(csrf_token_intention) }}">
        {% endif %}

        <input type="hidden" name="{{ target_path_parameter|default('_target_path') }}" value="{{ target_path|default(ea is defined ? path(ea.dashboardRouteName) : '/') }}" />

        <div class="mb-3">
            <label for="username">{{ _username_label }}</label>
            <input type="text" id="username" name="{{ username_parameter|default('_username') }}" class="form-control" value="{{ last_username|default('') }}" required autofocus autocomplete="username">
        </div>

        <div class="mb-4">
            <label for="password">{{ _password_label }}</label>
            <input type="password" id="password" name="{{ password_parameter|default('_password') }}" class="form-control" required autocomplete="current-password">
        </div>

        <button type="submit" class="btn btn-primary btn-lg btn-block" onclick="this.form.submit(); this.disabled=true;">{{ _sign_in_label }}</button>
    </form>
{% endblock %}