{% trans_default_domain 'EasyAdminBundle' %}

{% if view == 'show' or ('edit' in backend_config.disabled_actions) %}
    {% if value == true %}
        <span class="label label-success">{{ 'label.true'|trans }}</span>
    {% else %}
        <span class="label label-danger">{{ 'label.false'|trans }}</span>
    {% endif %}
{% else %}
    <input type="checkbox" {{ value == true ? 'checked' : '' }}
       data-toggle="toggle" data-size="mini"
       data-onstyle="success" data-offstyle="danger"
       data-on="{{ 'label.true'|trans }}" data-off="{{ 'label.false'|trans }}">
{% endif %}
