{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\ApplicationContext #}
{# @var fields \EasyCorp\Bundle\EasyAdminBundle\Contracts\FieldInterface[] #}
{% extends ea.config.template('layout') %}
{% trans_default_domain ea.config.translationDomain %}

{% block body_id 'easyadmin-show-' ~ ea.entity.shortClassName ~ '-' ~ ea.entity.idValue %}
{% block body_class 'show show-' ~ ea.entity.shortClassName %}

{% block content_title %}
    {% apply spaceless %}
        {% set default_title = 'page.detail.title'|trans(ea.transParameters, 'EasyAdminBundle') %}
        {{ ea.config.pageTitle is null ? default_title|raw : ea.config.pageTitle|trans(ea.transParameters)|raw }}
    {% endapply %}
{% endblock %}

{% block content_footer_wrapper '' %}

{% block main %}
    <div class="form-horizontal">
        {% block show_fields %}
            {% for field in fields %}
                {% block show_field %}
                    <div class="form-group field-{{ (field.type ?? 'default')|lower }} {{ field.cssClass ?? '' }}">
                        <label class="control-label">
                            {{ field.label|trans(ea.transParameters)|raw }}
                        </label>
                        <div class="form-widget">
                            <div class="form-control">
                                {{ ea_render_field(field) }}
                            </div>

                            {% if field.help is not empty %}
                                <small class="form-help"><i class="fa fa-fw fa-info-circle"></i> {{ field.help|trans|raw }}</small>
                            {% endif %}
                        </div>
                    </div>
                {% endblock %}
            {% endfor %}
        {% endblock %}
    </div>

    {% if ea.config.pageActions is not empty %}
        <section class="content-footer">
            <div class="form-actions">
                {% block item_actions %}
                    {% for action in ea.config.pageActions %}
                        {% set request_parameters = app.request.query.all %}
                        {% if 'list' == action.name %}
                            {% set action_href = request_parameters.referer|default('') ? request_parameters.referer|easyadmin_urldecode : path('easyadmin', request_parameters|merge({ action: 'list' })) %}
                        {% elseif action.methodName is not null %}
                            {% set action_href = path('easyadmin', request_parameters|merge({ page: action.name, id: ea.entity.idValue })) %}
                        {% elseif action.routeName is not null %}
                            {% set action_href = path(action.name, request_parameters|merge({ page: action.name, id: ea.entity.idValue })) %}
                        {% endif %}

                        {{ include(action.template) }}
                    {% endfor %}
{#
                    {% set _show_actions = easyadmin_get_actions_for_show_item(_entity_config.name) %}


                    {{ include('@EasyAdmin/default/includes/_actions.html.twig', {
                        actions: _show_actions,
                        entity_config: _entity_config,
                        request_parameters: request_parameters,
                        translation_domain: _entity_config.translation_domain,
                        trans_parameters: ea.transParameters,
                        item_id: _entity_id,
                        item: entity
                    }, with_context = false) }}
                    #}
                {% endblock item_actions %}
            </div>
        </section>
    {% endif %}

    {#
    <section class="content-footer">
        <div class="form-actions">
            {% block item_actions %}
                {% set _show_actions = easyadmin_get_actions_for_show_item(_entity_config.name) %}
                {% set _request_parameters = app.request.query.all %}

                {{ include('@EasyAdmin/default/includes/_actions.html.twig', {
                    actions: _show_actions,
                    entity_config: _entity_config,
                    request_parameters: _request_parameters,
                    translation_domain: _entity_config.translation_domain,
                    trans_parameters: ea.transParameters,
                    item_id: _entity_id,
                    item: entity
                }, with_context = false) }}
            {% endblock item_actions %}
        </div>
    </section>

    {% block delete_form %}
        {{ include('@EasyAdmin/default/includes/_delete_form.html.twig', {
            view: 'show',
            referer: app.request.query.get('referer', ''),
            delete_form: delete_form,
            _translation_domain: _entity_config.translation_domain,
            _trans_parameters: ea.transParameters,
            _entity_config: _entity_config,
        }, with_context = false) }}
    {% endblock delete_form %}
#}
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script type="text/javascript">
        $(function() {
            $('a.action-delete').on('click', function(e) {
                e.preventDefault();

                $('#modal-delete').modal({ backdrop: true, keyboard: true })
                    .off('click', '#modal-delete-button')
                    .on('click', '#modal-delete-button', function () {
                        $('#delete-form').trigger('submit');
                    });
            });
        });
    </script>
{% endblock %}
