{% extends '@EasyAdmin/error/error_page.html.twig' %}

{% block page_title 'Forbidden action' %}

{% block problem %}
    The requested <code>{{ action }}</code> action is not allowed.
{% endblock %}

{% block solution %}
    <ul>
        <li>
            Change this action for one of the following allowed actions:
            <code>{{ allowed_actions|join('</code>, <code>')|raw }}</code>.
        </li>
        <li>
            If the action name is correct, make sure it's included in
            the <code>actions</code> option in the <code>{{ view }}</code>
            view configuration of your entity.

            <pre>
{{- '' -}}
easy_admin:
    entities:
        YourEntity:
            # ...
            {{ view }}:
                actions:
                    ['{{ action }}', ...]
            # ...
{{- '' -}}
            </pre>
        </li>
    </ul>

{% endblock %}
