{% extends '@EasyAdmin/error/error_page.html.twig' %}

{% block page_title 'Forbidden action' %}

{% block problem %}{{ message|raw }}{% endblock %}

{% block solution %}
    <ul>
        <li>
            Remove the <code>{{ action }}</code> action from the
            <code>disabled_actions</code> option.

            <pre>
{{- '' -}}
easy_admin:
    disabled_actions: ['{{ action }}', ...] # <-- remove it from here (if present)
    entities:
        YourEntity:
            # ...
            disabled_actions:
                    ['{{ action }}', ...]  # <-- remove it from here (if present)
            # ...
{{- '' -}}
            </pre>
        </li>
    </ul>

{% endblock %}
