{# this check is needed because image fields can be optional #}
{% if value is empty or value == (field_options.base_path|default(''))|trim('/', side='right') ~ '/' %}
    {{ include(entity_config.templates.label_empty) }}
{% else %}
    <a href="#" class="easyadmin-thumbnail" data-featherlight="#easyadmin-lightbox-{{ uuid }}" data-featherlight-close-on-click="anywhere">
        <img src="{{ asset(value) }}">
    </a>

    <div id="easyadmin-lightbox-{{ uuid }}" class="easyadmin-lightbox">
        <img src="{{ asset(value) }}">
    </div>
{% endif %}
