{% macro render_menu_item(item) %}
    {% if item.isMenuSection %}
        <span class="{{ item.cssClass }}">{{ item.label }}</span>
    {% else %}
        <a href="{{ item.url }}" class="{{ item.cssClass }}" target="{{ item.linkTarget }}" rel="{{ item.linkRel }}" referrerpolicy="origin-when-cross-origin">
            {% if item.icon is not empty %}<i class="fa fa-fw {{ item.icon }}"></i>{% endif %}
            <span>{{ item.label }}</span>
            {% if item.hasSubItems %}<i class="fa fa-fw fa-angle-right treeview-icon"></i>{% endif %}
        </a>
    {% endif %}
{% endmacro %}

{% block main_menu_before %}{% endblock %}

<ul class="sidebar-menu" data-widget="tree" data-animation-speed="250">
    {% block main_menu %}
        {% for item in ea.menu.items %}
            {% block menu_item %}
                <li class="{{ item.isMenuSection ? 'header' }} {{ item.hasSubItems ? 'treeview' }} {{ ea.menu.isSelectedItem(item, app.request) ? 'active' }} {{ ea.menu.isItemSubMenuExpanded(item, app.request) ? 'submenu-active' }}">
                    {{ _self.render_menu_item(item) }}

                    {% if item.hasSubItems %}
                        <ul class="treeview-menu">
                            {% for subitem in item.subItems %}
                                {% block menu_subitem %}
                                    <li class="{{ subitem.isMenuSection ? 'header' }} {{ ea.menu.isSelectedSubItem(subitem, app.request) ? 'active' }}">
                                        {{ _self.render_menu_item(subitem) }}
                                    </li>
                                {% endblock menu_subitem %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endblock menu_item %}
        {% endfor %}
    {% endblock main_menu %}
</ul>

{% block main_menu_after %}{% endblock %}
