{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% set delete_url = ea_build_url()
    .setController(app.request.query.get('crudController'))
    .setAction('delete')
    .setEntityId(entity_id ?? '__entityId_placeholder__')
    .removeReferrer() %}

{# Option 1. 'ea_build_url()' Twig function #}
{% set delete_url = ea_build_url().setController('...').setAction('delete').setEntityId('...').removeReferrer() %}
{# Option 2. 'ea_url_builder()' Twig function #}
{% set delete_url = ea_url_builder().setController('...').setAction('delete').setEntityId('...').removeReferrer() %}
{# Option 3. 'ea_url_builder' global Twig object #}
{% set delete_url = ea_url_builder.setController('...').setAction('delete').setEntityId('...').removeReferrer() %}
{# Option 4. 'ea_current_url' global Twig object #}
{% set delete_url = ea_current_url.setController('...').setAction('delete').setEntityId('...').removeReferrer() %}



<form action="{{ delete_url }}" method="post" id="delete-form" style="display: none">
    <input type="hidden" name="token" value="{{ csrf_token('ea-delete') }}" />
</form>

<div id="modal-delete" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4>{{ 'delete_modal.title'|trans([], 'EasyAdminBundle') }}</h4>
                <p>{{ 'delete_modal.content'|trans([], 'EasyAdminBundle') }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-secondary">
                    <span class="btn-label">{{ 'action.cancel'|trans([], 'EasyAdminBundle') }}</span>
                </button>

                <button type="button" data-dismiss="modal" class="btn btn-danger" id="modal-delete-button" formtarget="delete-form">
                    <span class="btn-label">{{ 'action.delete'|trans([], 'EasyAdminBundle') }}</span>
                </button>
            </div>
        </div>
    </div>
</div>
