{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\ApplicationContext #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{# @var fields \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto[] #}
{% extends ea.templatePath('layout') %}
{% trans_default_domain ea.i18n.translationDomain %}

{% block body_id 'easyadmin-detail-' ~ entity.name ~ '-' ~ entity.idValue %}
{% block body_class 'detail detail-' ~ entity.name %}

{% block content_title %}
    {% apply spaceless %}
        {% set default_title = 'page.detail.title'|trans(ea.i18n.translationParams, 'EasyAdminBundle') %}
        {{ ea.crud.page.title is null ? default_title|raw : ea.crud.page.title|trans(ea.i18n.translationParams)|raw }}
    {% endapply %}
{% endblock %}

{% block content_footer_wrapper '' %}

{% block main %}
    <div class="form-horizontal">
        {% block show_fields %}
            {% for property in entity.properties %}
                {% block show_field %}
                    <div class="form-group field-{{ property.type }} {{ property.cssClass ?? '' }}">
                        <label class="control-label">
                            {{ property.label|raw }}
                        </label>
                        <div class="form-widget">
                            <div class="form-control">
                                {{ include(property.templatePath, { property: property }, with_context = false) }}
                            </div>

                            {% if property.help is not empty %}
                                <small class="form-help"><i class="fa fa-fw fa-info-circle"></i> {{ property.help|raw }}</small>
                            {% endif %}
                        </div>
                    </div>
                {% endblock %}
            {% endfor %}
        {% endblock %}
    </div>

    {% if actions is not empty %}
        <section class="content-footer">
            <div class="form-actions">
                {% block item_actions %}
                    {% for action in actions %}
                        {{ include(action.template) }}
                    {% endfor %}
                {% endblock item_actions %}
            </div>
        </section>
    {% endif %}

    {% block delete_form %}
        {{ include('@EasyAdmin/crud/includes/_delete_form.html.twig', {
            view: 'show',
            referer: app.request.query.get('referer', ''),
            delete_form: delete_form,
        }) }}
    {% endblock delete_form %}
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script type="text/javascript">
        $(function() {
            $('a.action-delete').on('click', function(e) {
                e.preventDefault();

                $('#modal-delete').modal({ backdrop: true, keyboard: true })
                    .off('click', '#modal-delete-button')
                    .on('click', '#modal-delete-button', function () {
                        $('#delete-form').trigger('submit');
                    });
            });
        });
    </script>
{% endblock %}
